<div class="container-fluid">
  <div class="row">
    <div class="col bg-dark text-white">
      <a class="navbar-brand">SKLEP SportsStore</a>
      <cart-summary></cart-summary>
    </div>
  </div>
  <div class="row">
    <div class="col-3 p-2">
      <button
        class="btn btn-block btn-outline-primary"
        (click)="changeCategory()"
      >
        All
      </button>
      <button
        *ngFor="let category of categories"
        class="btn btn-block btn-outline-primary"
        [class.active]="category == selectedCategory"
        (click)="changeCategory(category)"
      >
        {{ category }}
      </button>
      <button class="btn btn-block btn-danger mt-5" routerLink="/admin">
        Administracja
      </button>
    </div>
    <div class="col-9 p-2">
      <div *ngFor="let product of products" class="card m-1 p-1 bg-light">
        <h4>
          {{ product.name }}
          <span class="badge badge-pill badge-primary float-right">
            {{ product.price | currency: "PLN":"symbol":undefined:"pl-PL" }}
          </span>
        </h4>
        <div class="card-text bg-white p-1">
          {{ product.description }}
          <button
            class="btn btn-success btn-sm float-right"
            (click)="addToCart(product)"
          >
            Dodaj do koszyka
          </button>
        </div>
      </div>
      <div class="form-inline float-left mr-1">
        <select
          class="form-control"
          [value]="productsPerPage"
          (change)="changePageSize($event)"
        >
          <option value="3">3 na stronie</option>
          <option value="4">4 na stronie</option>
          <option value="6">6 na stronie</option>
          <option value="8">8 na stronie</option>
        </select>
      </div>

      <div class="btn-group float-right">
        <button
          *counter="let page of pageCount"
          class="btn btn-outline-primary"
          (click)="changePage(page)"
          [class.active]="page == selectedPage"
        >
          {{ page }}
        </button>
      </div>
    </div>
  </div>
</div>
